/* Estilos para el formulario */
.formulario {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bbfd07, #1c77ff);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.717);
    color: white;
}

/* Media query para pantallas de 500px o más */
@media screen and (min-width: 500px) {
    .formulario {
        /* Ancho de 300px para pantallas más grandes */
        width: 300px;
    }
}

.formulario h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: white;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 7px;
}

/*Estilos para la casilla de verificación personalizada */
.checkbox-container {
    display: flex;
    align-items: normal;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

/* Estilos adicionales para la colocación del botón a la derecha */

.button-group {
    display: flex;
    justify-content: flex-end;
}

.button-group button {
    padding: 5px 15px;
}